nav {
    height: 10vh;
    background-color: #282c34;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    color: white;
    margin: 1rem;
    text-decoration: none;

}

.nav-link:hover{
    color: orange;
}
nav .active {
    color: yellow;
}
section {
    display: grid;
    grid-gap: 1rem;
}

article {
    background-color: aliceblue;
}

@media screen and (min-width: 600px) {
    section {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (min-width: 992) {
     section {
        grid-template-columns: auto auto auto;
     }
}